#Information injected by terraform
projectValues:
  stage: "SET_BY_TERRAFORM"
  rootDomain: "SET_BY_TERRAFORM"
  basicAuthPassword: "SET_BY_TERRAFORM"
global:
  helm:
    #From which Helm repo the charts should be pulled
    repoURL: https://charts.iits.tech/
    # Default Helm Parameters which are injected into every chart
    parameters:
      ingressRoute.adminDomain: "admin.{{.Values.projectValues.rootDomain}}"
      ingressRoute.host: "admin.{{.Values.projectValues.rootDomain}}"
      ingressRoute.rootDomain: "{{.Values.projectValues.rootDomain}}"
charts:
  argocd-config:
    namespace: argocd
    targetRevision: 0.5.0
    annotations:
      argocd.argoproj.io/sync-wave: "-20"
    parameters:
      ingressRoute.certificate.enabled: "true"
      ingressRoute.entryPointName: "websecure"
  basic-auth-gateway:
    namespace: routing
    targetRevision: 0.6.1
    parameters:
      ingressRoute.domain: "admin.{{.Values.projectValues.rootDomain}}"
      credentials.password: "{{.Values.projectValues.basicAuthPassword}}"
  kafka:
    namespace: kafka
    targetRevision: 22.1.6
    parameters:
      "kafka.replicaCount": "1"
  # Remote chart from public helm repo
  #  bitnami-kafka:
  #    namespace: bitnami-kafka # Which namespace should the service be deployed
  #    repoURL: "https://charts.bitnami.com/bitnami" # Helm repo URL by default it takes the helm repo URL from line 11
  #    targetRevision: 22.1.5
  #    overrideChartName: kafka # You can override the chart name
  #    disableAutoSync: false # If set to true the sync will not happen automatically, you need to do it manually over the UI
  #    parameters:
  #      "kafka.replicaCount": "1"
  # Local chart for development purposes
  akhq:
    namespace: kafka
    repoURL: "https://github.com/iits-consulting/otc-infrastructure-charts-template.git"
    targetRevision: "main"
    path: "local-charts/akhq"
  # Override values with local values file
  iits-admin-dashboard:
    namespace: admin
    targetRevision: 1.3.0
    # values files needs to be inside this chart
    valueFile: "value-files/admin-dashboard/values.yaml"
    parameters:
      deployment.replicaCount: "1"